@font-face {
  font-family: bobbyJones; /* set name */
  src: url('Bobby_Jones Soft.woff2') format('woff2'); /* url of the font */
}

html, body {
   min-height: 100%;
   font-family: bobbyJones, sans-serif;
 font-weight: 400;
 font-style: normal;
}

body {
   background: #CCE7E9;
   background: linear-gradient(180deg, rgba(204, 231, 233, 1) 0%, rgba(2, 102, 99, 1) 100%);
   height: 100%;
   margin: 0;
   width: 100vw;
}

#page {
   background-color: #FFFDF3;
   min-height: 800px;
   max-width: 1200px;
   width: 100%;
   margin: 150px auto;
   border-radius: 30px;
   box-shadow: 5px 10px 20px #00000030;
   padding-bottom: 50px;
   animation-name: s/*lideInUp;
   animation-duratio*/n: 1s;
}

#headerbar {
   align-items: center;
   display:  flex;
   flex-direction: row;
   margin: 0 40px 30px;
   justify-content: space-between;
}

#sign {
  margin-top: -60px;
  width: 350px;
}

.headerlink {
 color: #773F1A;
 text-decoration: none;
 font-size: 36px;
 font-family: bobbyJones, sans-serif;
 font-weight: 400;
 font-style: normal;
}

h1,h2,h3 {
 color: #773F1A;
}

p {
   font-family: "Open Sans", sans-serif;
 font-weight: 400;
 font-style: normal;
 text-align: center;
}

a {
   text-decoration: none;
}

.pagetitle {
   /* text-align: center; */
   font-size: 48px;
   border-bottom: 10px solid #773F1A;
   margin: 0 60px 40px;
}

.subhead {
  color: #773F1A;
  font-size: 32px;
  margin: 0 60px 20px 90px;
}

.a {
  text-align: left;
  margin: 0 60px 40px 120px;
}

.headerphoto {
  width: 50%;
  margin: 0 25% 20px;   
}

.photos {
  width: 80%;
  margin: 0 10% 20px;   
}

#frontimage {
  width: 80%;
  margin: 20px auto;
  display: block;
  border-radius: 30px;
}

.button {
   background-color: #773F1A;
   text-decoration: none;
   width: fit-content;
   padding: 20px 30px;
   font-size: 30px;
   display: block;
   margin: auto;
   color: #D6BE82;
   border-radius: 30px;
   border-color: #D6BE82;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 20% 60px;
  font-size: 26px;
}

tr {
  border-bottom: 1pt solid #D6BE82;
  height: 16px;
}

td {
  height: 60px;
}


table td:nth-child(2) {
  color: #D84315;
  text-align: right;
}

.ball {
  width: var(--width);
  height: var(--height);
  background: url('./img/bouncing.png');
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute;

  animation: toRight linear 6.8s infinite alternate, bounce linear 17s infinite alternate;
}

marquee {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}